/* 
*box model
*/

.float {
    float: left;
    float: right;
    float: none;
}

.height {
    height: 100px;
}

.width {
    width: 100px;
}

.max-height {
    max-height: 100px;
}

.max-width {
    max-width: 100px;
}

.min-height {
    min-height: 100px;
}

.min-width {
    min-width: 100px;
}

.margin {
    margin: 10px 10px 10px 10px;
    margin: 10px;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.padding {
    padding: 10px 10px 10px 10px;
    padding: 10px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.list {
    list-style: none;
    list-style-type: square;
    list-style-position: initial;
    list-style-image: url();
}

.border {
    border-width: 1px;
    border-style: dotted;
    border-color: initial;
    border-left: 0px dotted forestgreen;
    border-top: 0px dotted forestgreen;
    border-right: 0px dotted forestgreen;
    border-bottom: 0px dotted forestgreen;
}

.background {
    background: forestgreen;
    background-color: forestgreen;
    background: linear-gradient(#000);
    background-image: url();
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.font {
    font-size: 10px;
    font-family: initial;
    font-weight: 900;
    line-height: 50;
}

.em {
    /*?relative parent*/
}

.rem {
    /*?relative base html body*/
}

.color {
    color: ivory;
}

.direction {
    direction: ltr;
}

.text-align {
    text-align: left;
}

.box-shadow {
    box-shadow: 1px 1px 10px ivory;
}

.vertical-align {
    vertical-align: middle;
}

.animation {
    animation-name: name;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.transition {
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.prefix {
    /*
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    */
}

.cursor {
    cursor: pointer;
}

.box-sizing {
    box-sizing: border-box;
}

.ul:odd {
    color: red;
}

.ul:even {
    color: red;
}

.ul:last-child {
    color: red;
}

.ul:first-child {
    color: red;
}

.ul:last-of-type {
    color: red;
}

.ul:first-of-type {
    color: red;
}

* {
    color: initial;
}

.p>div {
    color: initial;
}

.p+div {
    color: initial;
}

.p~div {
    color: initial;
}

@keyframes name {
    0% {}
    100% {}
    from {}
    to {}
}

.display {
    display: initial;
    display: inline-block;
    display: block;
    display: flex;
    display: none;
}

.opcity {
    opacity: 1;
}

.overflow {
    overflow: hidden;
    overflow: scroll;
    overflow: visible;
    overflow: auto;
}

.postion {
    position: relative;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.transform {
    transform: translate(10px) skew(10deg) scale(1.4) rotate(20deg);
    -webkit-transform: translate(10px) skew(10deg) scale(1.4) rotate(20deg);
    -moz-transform: translate(10px) skew(10deg) scale(1.4) rotate(20deg);
    -ms-transform: translate(10px) skew(10deg) scale(1.4) rotate(20deg);
    -o-transform: translate(10px) skew(10deg) scale(1.4) rotate(20deg);
}

@media(mina-width:10px)and(max-width:10px) {}