html
    head
        meta(name="description", content="")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        title learn pug
        link(rel="stylesheet", href="style.css")
    body
<!----> 

        div pug index.pug -w -P
        div: a(href=""): img(src="", alt="alt")|
        span kareem


            span lashin
        
        span
        
        .div i am learn pug
        
        #div

        p Lorem  <bold> ipsum</bold> <div> dolor </div> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p i love 
           .div  marwa
           |
           #id  samea
           | and 
           div are
           |
           div or
        script
